<!-- karin plugin yysls default layout -->
{{extend plugin.defaultLayout}}

<!-- 页面样式资源 -->
{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{plugin.resources.default}}/template/{{plugin.template}}/index.css" />
<style>
  .container {
    background-image:url("{{plugin.resources.default}}/images/icon/bg.webp"),
    url("{{plugin.resources.download}}/images/cardbg/{{baseInfo.bg}}.png"),
    url("{{plugin.resources.default}}/images/icon/bg.webp");
  }
</style>
{{/block}}

<!-- 页面布局内容 -->
{{block 'container'}}
<span class="logo"></span>

<div class="game-roleInfo">
  <span class="color-bg"></span>

  <div class="head-info">
    <div class="avatar">
      <img src="{{plugin.resources.download}}/images/avatar/{{baseInfo.head.avatar}}.png" />
      <span class="level">{{baseInfo.head.level}}</span>
    </div>

    <div class="info">
      <span class="name">{{baseInfo.head.name}}</span>
      <span class="ID">角色ID: {{baseInfo.head.id}}</span>
      <div class="crDay">
        已游历{{baseInfo.head.crDay}}天
        <span class="club">{{baseInfo.head.club}}</span>
      </div>
      <div class="status-info">
        <div class="status xinli">
          {{baseInfo.head.status.xinli.now}}
          <max>/{{baseInfo.head.status.xinli.max}}</max>
        </div>
        <div class="status tili">
          {{baseInfo.head.status.tili.now}}
          <max>/{{baseInfo.head.status.tili.max}}</max>
        </div>
        <div class="status bugan">
          {{baseInfo.head.status.bugan.now}}
          <max>/{{baseInfo.head.status.bugan.max}}</max>
        </div>
      </div>
    </div>
  </div>

  <div class="tips-info">
    <div class="base">
      {{each baseInfo.tips tip}}
      <div class="item">
        <span class="value">{{tip.value}}</span>
        <span class="label">{{tip.lable}}</span>
      </div>
      {{/each}}
    </div>

    <div class="explore">
      {{each exploreInfo info}}
      <div class="item">
        <span class="value">{{info.value}}</span>
        <span class="label">{{info.area}}探索</span>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="plan-info">
    <div class="title">
      <div class="tip">备战方案 | </div>

      <div class="zaoyi-now">
        {{planInfo.xiuWei.now}}

        {{if planInfo.xiuWei.dif >= 0}}
        <span class="dif">↓{{planInfo.xiuWei.dif}} </span>
        {{/if}}
      </div>
    </div>

    <div class="kongfu-info">
      <div class="kongfu">
        {{if planInfo.kongfu.main}}
        <div class="label">
          <img class="wuxue" src="{{plugin.resources.download}}/{{planInfo.kongfu.main.image}}" />
          <div class="name">
            {{if planInfo.kongfu.main.liupai}}
            <img class="liupai" src="{{plugin.resources.default}}/{{planInfo.kongfu.main.liupai_icon}}" />
            {{/if}}
            {{planInfo.kongfu.main.name}}
            <span class="level"><br>Lv.{{planInfo.kongfu.main.level}}</span>
          </div>
        </div>
        <div class="weapon">
          <img src="{{plugin.resources.download}}/{{planInfo.kongfu.main.equip.long_icon}}" />
          <span class="name">{{planInfo.kongfu.main.equip.name}}</span>
        </div>
        {{else}}
        <div class="label">未装配</div>
        <div class="weapon"></div>
        {{/if}}
      </div>

      <div class="kongfu">
        {{if planInfo.kongfu.sub}}
        <div class="label">
          <img class="wuxue" src="{{plugin.resources.download}}/{{planInfo.kongfu.sub.image}}" />
          <div class="name">
            {{if planInfo.kongfu.sub.liupai}}
            <img class="liupai" src="{{plugin.resources.default}}/{{planInfo.kongfu.sub.liupai_icon}}" />
            {{/if}}
            {{planInfo.kongfu.sub.name}}
            <span class="level"><br>Lv.{{planInfo.kongfu.sub.level}}</span>
          </div>
        </div>
        <div class="weapon">
          <img src="{{plugin.resources.download}}/{{planInfo.kongfu.sub.equip.long_icon}}" />
          <span class="name">{{planInfo.kongfu.sub.equip.name}}</span>
        </div>
        {{else}}
        <div class="label">未装配</div>
        <div class="weapon"></div>
        {{/if}}
      </div>
    </div>

    <div class="xinfa-info">
      <span class="title">心法</span>

      {{each planInfo.xinfa xinfa}}
      <div class="xinfa" style="background-image: url('{{plugin.resources.default}}/{{xinfa.bg_icon}}');">
        <img class="xinfa-image" src="{{plugin.resources.download}}/{{xinfa.image}}">
        <img class="liupai-image" src="{{plugin.resources.default}}/{{xinfa.liupai_icon}}">
        <span class="rank rank-{{xinfa.rank}}"></span>
        <span class="name">{{xinfa.name}}</span>
      </div>
      {{/each}}
    </div>

    <div class="qishu-info">
      <span class="title">奇术</span>

      {{each planInfo.qishu qishu}}
      <div class="qishu at-{{qishu.idx}}">
        <img class="qishu-image" src="{{plugin.resources.download}}/{{qishu.image}}">
        <span class="level level-{{qishu.level}}"></span>
        <span class="name at-{{qishu.idx}}">{{qishu.name}}</span>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="game-equipInfo">
  <span class="color-bg"></span>

  <div class="equip-info ">
    <span class="title">装备信息</span>

    {{each equipInfo equip}}
    <div class="equip quality-{{equip.quality}}">
      <img class="icon" src="{{plugin.resources.download}}/{{equip.image}}" />
      <div class="info">
        <span class="name">{{equip.name}}</span>
        <span class="suffix">{{equip.suffix.short}}</span>
        <span class="durability">{{equip.durability}}/100</span>
        <div class="main-attr">
          {{each equip.attrs attr}}
          <div class="attr">
            <span class="label">{{attr.label}}</span>
            <span class="value">{{attr.value}}</span>
          </div>
          {{/each}}
        </div>
      </div>

      <div class="tiaolv-info">
        {{each equip.affixes affix}}
        <div class="tiaolv">
          <div class="label {{affix.type}}">
            {{affix.label}}
            {{if affix.recommend}}
            <span class="recommend">荐</span>
            {{/if}}
            <span class="value">+{{affix.value}}</span>
          </div>
          <span class="percent {{affix.type}}" style="--percent: {{affix.percent}}%;">({{affix.percent}}%)</span>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
</div>
{{/block}}

<!-- 页面脚本资源 -->
{{block 'script'}}
<script>

</script>
{{/block}}
