<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="{{plugin.resources.default}}/template/layout/default.css" />
  {{block 'css'}}{{/block}}
</head>

<body>
  <div class="container" id="container">
    {{block 'container'}}{{/block}}
    <div class="copyright">
      Created by Karin<strong>@</strong>&nbsp;&&nbsp;{{plugin.name}}<strong>@{{plugin.version}}</strong>
    </div>
  </div>
  {{block 'script'}}{{/block}}
</body>

</html>
